<h1><%= @number_of_dice %>d<%=@how_many_sides%> </h1>

<ol>
  <% @rolls.each do |a_roll| %>
    <li>
      Result: <strong><%= a_roll %></strong>
    </li>
  <% end %>
</ol>


<a href="/process_roll?dice=<%= @number_of_dice %>&sides=<%= @how_many_sides %>">
  Roll <%= @number_of_dice %>d<%= @how_many_sides %> again
</a>
